.channelContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--bulma-size-small);
}

.chatContainer {
    background: rgb(18, 26, 40);
    color: rgb(238, 245, 255);
    border-radius: var(--bulma-radius-large);
    flex: 1;
    display: flex;
    flex-direction: column;

    img {
        border-radius: var(--bulma-radius-large) var(--bulma-radius-large) 0 0;
        @media screen and (min-width: 1216px) {
            border-radius: var(--bulma-radius-large) 0 0 0;
        }
    }

    @media screen and (min-width: 1216px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--bulma-size-4);
    }
}

.content {
    padding: 0 var(--bulma-size-4);
}

.headerInner {
    padding: 0 var(--bulma-size-4);
}

.moderatorButtons {
    display: flex;
    gap: var(--bulma-size-small);
}