.footerContainer {
    background: var(--bulma-primary-dark);
    color: var(--bulma-primary-dark-invert);
    bottom: 0;
    min-width: 100% !important;

    :global(.container) {
        max-width: 700px;
        padding: var(--bulma-size-small) var(--bulma-size-4);
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: var(--bulma-size-small) var(--bulma-size-4);
}
