#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }

  footer {
    flex: 0;
  }
}

ul.list {
  list-style: initial;
  margin: var(--bulma-size-small) var(--bulma-size-4);
}